
#site-nav
{
  border-bottom: 1px solid #e5e5e5;
  background: #f2f2f2;
}
.sn-container{
  width: 1230px;
  margin: auto;
  color: #999;
  position: relative;
  left: -15px;
}
#sn-login-info, .sn-quick-menu{
  height: 32px;
  line-height: 32px;
}
.sn-login{
  padding-left: 20px;
  text-decoration: none;
  color: #999;
}
.sn-register{
  padding: 0 10px;
  text-decoration: none;
  color: #999;
}
#site-nav a{
  color: #999;
}
#site-nav a:hover{
  color: #FF0036;
  text-decoration: none;
}
.sn-separator{
  display: inline-block;
  width: 0;
  height: 14px;
  line-height: 14px;
  vertical-align: top;
  position: relative;
  top: 9px;
  left: 0;
  font-size: 0;
  border-left: 1px solid #ccc;
  margin: 0 2px 0 5px;
}
#site-nav .sn-quick-menu {
  position: absolute;
  right: 0;
  top: 0;
}
#site-nav .sn-quick-menu li{
  float: left;
  position: relative;
}
.sn-cart, .sn-mobile, .sn-taobao, .sn-seller{
  padding: 0 10px;
}
.sn-myjmall a, .sn-favorite a{
  padding-right: 14px;
}
.sn-myjmall a b, .sn-favorite b{
  position: absolute;
  right: 6px;
  top: 15px;
  width: 0;
  height: 0;
  border-width: 3px;
  border-style: solid dashed dashed;
  border-color: #bbb transparent transparent;
  font-size: 0;
  line-height: 0;
}
.gouwuche{
  color: #FF0036;
  margin-right: 5px;
}