<div class="header-search">
<div id="headerCon">
  <h1 id="mallLogo">
    <a><img src="https://img.alicdn.com/tfs/TB11ojWRXXXXXafaFXXXXXXXXXX-190-27.png"></a>
  </h1>
  <div id="shopExtra">
    <div class="slogo">
      <a class="slogo-shopname"><strong>绅士帝国服饰专营店</strong></a>
      <div class="slogo-extraicon">
        <span class="ww-light ww-static">
          <a class="ww-inline ww-online" title="点此可以直接和卖家交流选好的宝贝，或相互交流网购体验，还支持语音视频噢。"><span>旺旺在线</span></a>
        </span>
      </div>
    </div>
    <div id="shop-info">
      <div class="main-info">
        <div class="shopdsr-item">
          <div class="shopdsr-title">描 述</div>
          <div class="shopdsr-score shopdsr-score-up-ctrl">
            <span class="shopdsr-score-con">4.8</span>
          </div>
        </div>
        <div class="shopdsr-item">
          <div class="shopdsr-title">服 务</div>
          <div class="shopdsr-score shopdsr-score-up-ctrl">
            <span class="shopdsr-score-con">4.8</span>
          </div>
        </div>
        <div class="shopdsr-item">
          <div class="shopdsr-title">物 流</div>
          <div class="shopdsr-score shopdsr-score-up-ctrl">
            <span class="shopdsr-score-con">4.8</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="header-extra">
    <div id="mallSearch" class="mall-search">

    </div>
  </div> -->
</div>

  
</div>