<div class="goods-card">
  <h3 class="goods-hd">
    <em>{{data.title}}</em>
    <img [src]="data.titleImg" alt="" srcset="">
    <p>{{data.subtitle}}</p>
  </h3>
  <ul class="goods-list">
    <li routerLink="/goodsDetail" *ngFor="let item of data.goods">
      <div class="img-wrapper"><img [src]="item.img" alt="" srcset=""></div>
      <div class="info">
        <h4>{{item.name}}</h4>
        <p>{{item.describe}}</p>
        <p class="extra">{{item.extra}}人说好</p>
      </div>
    </li>
    
  </ul>
</div>
