<div class="content" id="content">
  <div id="detail">
    <div class="tm-detail-meta tm-clear" id="J_DetailMeta">
      <div class="tm-clear">
        <div class="tb-property">
          <div class="tb-wrap">
            <div class="tb-detail-hd"><h1>立领衬衫男长袖衬衣春季薄款中山装花花公子新款中华立领商务正装</h1></div>
            <div class="tm-fcs-panel">
              <dl class="tm-price-panel tm-price-cur" id="J_StrPriceModBox">
                <dt class="tb-metatit">价格</dt>
                <dd><em class="tm-yen">¥ </em><span class="tm-price">178.00</span></dd>
              </dl>
            </div>
            <div class="tb-meta">
              <dl class="tm-delivery-panel">
                <dt class="tb-metatit">运费</dt>
                <dd>
                  <div class="tb-postAge">杭州</div>
                </dd>
              </dl>
            </div>
            <ul class="tm-ind-panel">
              <li class="tm-ind-item tm-ind-reviewCount canClick tm-line3">
                <div class="tm-indcon">
                  <span class="tm-label">累计评价</span>
                  <span class="tm-count">2</span>
                </div>
              </li>
              <li class="tm-ind-item tm-ind-emPointCount">
                <div class="tm-indcon">
                  <span class="tm-label">送天猫积分</span>
                  <span class="tm-count">89</span>
                </div>
              </li>
            </ul>
            <div class="tb-key">
              <div class="tb-skin">
                <div class="tb-sku">
                  <dl class="tb-prop tm-sale-prop tm-clear">
                    <dt class="tb-metatit">尺码</dt>
                    <dd>
                      <ul class="tm-clear J_TSaleProp">
                        <li *ngFor="let item of productDetail.sizes"><button (click)="checkSize(item)" class="choose-btn" type="button">{{item}}</button></li>
                        <li><button class="choose-btn" type="button">39</button></li>
                        <li><button class="choose-btn" type="button">40</button></li>
                        <li><button class="choose-btn" type="button">41</button></li>
                        <li><button class="choose-btn" type="button">42</button></li>
                      </ul>
                    </dd>
                  </dl>
                  <dl class="tb-prop tm-sale-prop tm-clear tm-img-prop ">
                    <dt class="tb-metatit">颜色</dt>
                    <dd>
                      <ul class="tm-clear J_TSaleProp tb-img     ">
                        <li><button class="color-choose-btn" style="background:url(//img.alicdn.com/imgextra/i2/2269753886/TB2JIGEfl8lpuFjSspaXXXJKpXa_!!2269753886.jpg_40x40q90.jpg) center no-repeat;">5036立领藏青色</button></li>
                      </ul>
                    </dd>
                  </dl>
                  <dl class="tb-amount tm-clear">
                    <dt class="tb-metatit">数量</dt>
                    <dd id="J_Amount">
                      <span class="tb-amount-widget mui-amount-wrap">
                        <input [(ngModel)]="cart.number" type="number" class="tb-text mui-amount-input" maxlength="8" title="请输入购买量">
                        <span class="mui-amount-btn">
                          <span></span>
                          <span></span>
                        </span>
                        <span class="mui-amount-unit">件</span>
                      </span>
                    </dd>
                  </dl>
                  <div class="tb-action tm-clear">
                    <div class="tb-btn-buy tb-btn-sku">
                      <button class="buy-btn" id="J_LinkBuy" title="点击此按钮，到下一步确认购买信息。">立即购买</button>
                    </div>
                    <div class="tb-btn-basket tb-btn-sku">
                      <button class="into-cart-btn" id="J_LinkBasket" (click)="addToCart()">
                        加入购物车
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tb-gallery">
          <div class="tb-booth">
            <span class="zoomIcon"></span>
            <span class="ks-imagezoom-wrap">
              <img src="https://img.alicdn.com/imgextra/i3/2269753886/TB2HTWSfmFjpuFjSszhXXaBuVXa_!!2269753886.jpg_430x430q90.jpg" alt="">
              <span class="ks-imagezoom-lens"></span>
            </span>
          </div>
          <div class="tb-thumb-warp">
            <div class="tb-thumb-content">
              <ul  class="tb-thumb tm-clear">
                <li class="tb-selected">
                  <img src="https://img.alicdn.com/imgextra/i1/2269753886/O1CN01PBuUpd1eZphrzNkMo_!!2269753886-0-pixelsss.jpg_60x60q90.jpg" alt="">
                </li>
                <li>
                  <img src="https://img.alicdn.com/imgextra/i1/2269753886/O1CN01PBuUpd1eZphrzNkMo_!!2269753886-0-pixelsss.jpg_60x60q90.jpg" alt="">
                </li>
                <li>
                  <img src="https://img.alicdn.com/imgextra/i1/2269753886/O1CN01PBuUpd1eZphrzNkMo_!!2269753886-0-pixelsss.jpg_60x60q90.jpg" alt="">
                </li>
                <li>
                  <img src="https://img.alicdn.com/imgextra/i1/2269753886/O1CN01PBuUpd1eZphrzNkMo_!!2269753886-0-pixelsss.jpg_60x60q90.jpg" alt="">
                </li>
                <li>
                  <img src="https://img.alicdn.com/imgextra/i1/2269753886/O1CN01PBuUpd1eZphrzNkMo_!!2269753886-0-pixelsss.jpg_60x60q90.jpg" alt="">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ks-overlay ks-imagezoom-viewer ks-overlay-hidden" style="visibility: hidden;">
  <div class="ks-overlay-content">
    <img src="https://img.alicdn.com/imgextra/i3/2269753886/TB2HTWSfmFjpuFjSszhXXaBuVXa_!!2269753886.jpg" alt="">
  </div>
</div>