
.main-nav {
  white-space: nowrap;
  position: relative;
  font-size: 0;
  padding-top: 0;
  height: 35.5px;
  background-color: #fff;
  border-style: solid;
  border-width: 0 0 1.5px;
  border-color: #FF0036;
}
.category-inner-con{
  width: 1230px;
  padding-right: 30px;
  box-sizing: border-box;
  position: relative;
  height: 0;
  z-index: 100;
  margin: 0 auto;
  .category-type{
    width: 200px;
    float: left;
    height: 36px;
    color: #fff;
    background-color: #FF0036;
    position: absolute;
    z-index: 100;
    line-height: 36px;
    .text{
      display: inline-block;
      font-size: 16px;
      margin-left: 8px;
      font-weight: 700;
    }
  }
}