
.main{
    background-color: #fff;
    min-height: 100vh;
}
.content{
    width: 1190px;
    margin: 0 auto;
    a:hover{
        color: #f40;
        cursor: pointer;
    }
}
.header{
    padding: 20px 0 40px;
    position: relative;
    height: 35px;
    #logo {
        float: left;
        a {
            width: 140px;
            height: 35px;
            font-size: 35px;
            line-height: 35px;
            color: #f50;
            position: relative;
            display: inline-block;
            cursor: pointer;
            span {
                background: url(//img.alicdn.com/tfs/TB11ojWRXXXXXafaFXXXXXXXXXX-190-27.png) no-repeat;
                height: 28px;
                display: inline-block;
                width: 190px;
            }
        }
    }
}

.item-content{
    list-style: none;
}
.item-content .td {
    float: left;
    min-height: 119px;
    _height: 119px;
    overflow: hidden;
    _overflow: visible;
    _zoom: 1;
}
.item-content .td-chk {
    position: relative;
    overflow: hidden;
}
.td-chk {
    width: 50px;
}
.td-inner {
    padding-top: 20px;
}
.item-content .item-pic {
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    float: left;
    overflow: hidden;
    background: #fff url(//gtd.alicdn.com/tps/i3/T1b1m3XkVpXXXXXXXX-32-32.gif) no-repeat 50% 50%;
}
.item-content .img-loaded {
    background: #fff;
}
.item-content .item-pic a {
    display: table-cell;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    text-align: center;
}
.item-content .item-pic img {
    max-height: 80px;
    max-width: 80px;
    vertical-align: middle;
}
.item-content .item-props {
    padding: 16px 0;
    min-height: 84px;
    _height: 84px;
    border: 1px dashed transparent;
    position: relative;
    _border-color: #EEF6FF;
}
.item-content .sku-line {
    margin: 0 5px 0 15px;
    color: #9c9c9c;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-content .td-price {
    color: #9c9c9c;
}
.item-content .td-price .td-inner {
    padding-top: 12px;
}
.item-content .price-content {
    padding: 8px 0 0 10px;
    line-height: 1;
    width: 74px;
}
.item-content .td-price .price-line {
    padding: 0 0 4px 0;
}
.item-content .price-original {
    color: #9c9c9c;
    text-decoration: line-through;
    font-family: Verdana,Tahoma,arial;
}
.item-content .price-now {
    color: #3c3c3c;
    font-weight: 700;
    font-family: Verdana,Tahoma,arial;
}
.td-amount {
    width: 120px;
}
.item-amount {
    height: 25px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.item-content .td-sum {
    color: #f40;
    font-weight: 700;
}
.order-content {
    border: 1px solid #ccc;
}
.clearfix::after{
    display: block;
    content: '';
    opacity: 0;
    clear: both;
    height: 0;
}
.td-item .item-info {
    margin: -3px 0 0 91px;
    padding-right: 25px;
}
.td-item .item-basic-info {
    min-height: 40px;
}
.item-content .item-title {
    font-size: 12px;
    display: block;
    max-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.td-item {
    width: 342px;
}
.item-content .item-pic {
    width: 80px;
    height: 80px;
    border: 1px solid #eee;
    float: left;
    overflow: hidden;
    background: #fff url(//gtd.alicdn.com/tps/i3/T1b1m3XkVpXXXXXXXX-32-32.gif) no-repeat 50% 50%;
}
.cart-taobao .th-info, .cart-taobao .td-info {
    width: 212px;
    padding-right: 40px;
}
.td-price {
    width: 130px;
}
.td-amount {
    width: 120px;
}
.td-sum {
    width: 140px;
}
.sumbar{
    position: relative;
    height: 50px;
    background: #e5e5e5;
    color: #3c3c3c;
    line-height: 48px;
    .float-bar-right{
        float: right;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 4;
        padding-left: 20px;
    }
}
 .amount-sum, .price-sum {
    height: 48px;
    color: #3c3c3c;
    cursor: pointer;
}
 .price-sum strong, .amount-sum em, .price-sum .txt, .amount-sum .txt {
    float: left;
}
.float-bar .amount-sum, .float-bar .price-sum, .float-bar .btn-area {
    float: left;
}
 .amount-sum em, .price-sum .price em {
    color: #f40;
    font-weight: 700;
    font-size: 18px;
    font-family: tohoma,arial;
}
.price-sum{
    margin-left: 30px;
}
.float-bar .amount-sum em, .float-bar .price-sum .price em {
    color: #f40;
    font-weight: 700;
    font-size: 18px;
    font-family: tohoma,arial;
}
.float-bar .amount-sum em {
    line-height: 50px;
    padding: 0 5px;
}
.float-bar .price-sum .price em {
    font-weight: 700;
    font-size: 22px;
    padding: 0 3px;
}
.submit-btn {
    border: 0;
    outline: 0;
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    background: #f40;
    text-align: center;
    font-family: 'Lantinghei SC','Microsoft Yahei';
    font-size: 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}
.submit-btn-disabled{
    background: #B0B0B0;
    border-left: 1px solid #e7e7e7;
    width: 119px;
    cursor: not-allowed;
    text-decoration: none;
}