<app-site-nav></app-site-nav>
<div class="main">
  <div class="content">
    <div class="header">
      <h1 id="logo" class="cart-logo">
        <a>
          <span></span>
        </a>
      </h1>
    </div>
    <div class="J_Order clearfix order-body">
      <div class="order-content">
        <ul class="item-content clearfix">
          <li class="td td-chk">
            <div class="td-inner">
              <input type="checkbox" style="float: right;margin-right: 10px;">
            </div>
          </li>
          <li class="td td-item">
            <div class="td-inner">
              <div class="item-pic">
                <img src="https://img.alicdn.com/bao/uploaded/i3/3378587926/O1CN01WwFL6d28Q9jwkStM5_!!3378587926.jpg_80x80.jpg" alt="">
              </div>
              <div class="item-info">
                <div class="item-basic-info">
                  <a class="item-title J_GoldReport J_MakePoint">【双品节价】夏季ins短袖男士宽松纯棉潮流t恤潮牌2020新款情侣装半袖衣服体恤</a>
                </div>
                <div class="item-other-info"></div>
              </div>
            </div>
          </li>
          <li class="td td-info">
            <div class="item-props item-props-can">
              <p class="sku-line">颜色：T118白色</p>
              <p class="sku-line">尺码：2XL[【时.尚帅气】]</p>
            </div>
          </li>
          <li class="td td-price">
            <div class="td-inner">
              <div class="item-price price-promo-">
                <div class="price-content">
                  <div class="price-line"><em class="price-original">￥299.00</em></div>
                  <div class="price-line"><em class="J_Price price-now">￥49.90</em></div>
                </div>
              </div>
            </div>
          </li>
          <li class="td td-amount">
            <div class="td-inner">
              <input type="number" style="width: 50px;">
            </div>
          </li>
          <li class="td td-sum">
            <div class="td-inner">
              <em class="J_ItemSum number">￥49.90</em>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="sumbar float-bar">
      <div class="float-bar-right">
        <div class="amount-sum">
          <span class="txt">已选商品</span>
          <em id="J_SelectedItemsCount">1</em>
          <span class="txt">件</span>
        </div>
        <div class="price-sum">
          <span class="txt">合计（不含运费）：</span>
          <strong class="price">
            <em>

              <span class="total-symbol">0.00</span>
            </em>
          </strong>
        </div>
        <div class="btn-area">
          <button class="submit-btn submit-btn-disabled">结算</button>
        </div>
      </div>
    </div>

  </div>
  </div>
  